<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Draggable and Droppable classification Component</title>

    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/common.css" rel="stylesheet">
    <link href="assets/css/dnd-classification-component.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  
  <!-- compoenent specific styles are here -->
  <link rel="stylesheet" href="assets/css/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="assets/css/jquery-ui.min.css"><!--dragable dropable-->
  <link rel="stylesheet" href="assets/css/jquery-ui.theme.min.css"> <!--drag&dropable-->
  <!-- compoenent specific styles are here -->
  <script src="assets/libs/angular.min.js"></script>
  
  
  </head>
  <body>
  <div class="container">
    <div class="row">
      <div id="component-wrapper" class="col-xs-12 v-scroll">
        <!-- component wrapper -->
        <!-- dnd-classification-component-wrapper -->
        <div class="row dnd-classification-component">
          <!-- left side dnd open  -->
          <div id="left-dnd" class="col-xs-5" >
            <div id="left-dnd-heading" class="row">
              <div id="left-dnd-left-heading" class="col-xs-5">
                <h4>Lorem Ipsum</h4>
              </div>
              <div id="left-dnd-right-heading" class="col-xs-5 col-xs-offset-2">
                <h4>Lorem Ipsum</h4> 
              </div>
            </div><!-- left-dnd-heading close -->
            <div id="left-dnd-droppable" class="row">
              <div class="col-xs-5">
                <div class="droppable ui-widget-header">
                  <p>dhfksdj</p>
                </div>
                <div class="droppable ui-widget-header">
                  <p>dhfksdj</p>
                </div>
                <div class="droppable ui-widget-header">
                  <p>dhfksdj</p>
                </div>
                <div class="droppable ui-widget-header">
                  <p>dhfksdj</p>
                </div>
               </div>
               <div class="col-xs-5 col-xs-offset-2">
                <div class="droppable ui-widget-header">
                  <p>dhfksdj</p>
                </div>
                <div class="droppable ui-widget-header">
                  <p>dhfksdj</p>
                </div>
                <div class="droppable ui-widget-header">
                  <p>dhfksdj</p>
                </div>
                <div class="droppable ui-widget-header">
                  <p>dhfksdj</p>
                </div>
               </div>
              
            </div><!-- left-dnd-droppable close-->
          </div><!-- left-dnd close -->
          <!-- left side dnd close  -->
            <!-- right-dnd close -->
          <div id="right-dnd" class="col-xs-6 col-xs-offset-1">
            <div id="right-dnd-heading" class="row">
              <div class="col-xs-12">
                <h4>Lorem Ipsum</h4>
              </div>
            </div><!-- right-dnd-heading ends -->
            <div id="right-dnd-draggable" class="row">
              <div id="right-dnd-right-draggable" class="col-xs-6">
                <div class="row">
                  <div id="draggable1" class="col-xs-12  ui-widget-content">
                    <p>Lorem Ipsum</p>
                  </div>
                  <div id="draggable2" class="col-xs-12 ui-widget-content">
                    <p>Lorem Ipsum</p>
                  </div>
                  <div id="draggable3" class="col-xs-12 ui-widget-content">
                    <p>Lorem Ipsum</p>
                  </div>
                  <div id="draggable4" class="col-xs-12 ui-widget-content">
                    <p>Lorem Ipsum</p>
                  </div>
                </div>
              </div><!-- right-dnd-right-draggable colse -->
              <div id="right-dnd-left-draggable" class="col-xs-6">
                <div class="row">
                  <div id="draggable1" class="col-xs-12 ui-widget-content">
                    <p>Lorem Ipsum</p>
                  </div>
                  <div id="draggable2" class="col-xs-12 ui-widget-content">
                    <p>Lorem Ipsum</p>
                  </div>
                  <div id="draggable3" class="col-xs-12 ui-widget-content">
                    <p>Lorem Ipsum</p>
                  </div>
                  <div id="draggable4" class="col-xs-12 ui-widget-content">
                    <p>Lorem Ipsum</p>
                  </div>
                </div>
              </div><!-- right-dnd-left-draggable close -->
            </div><!-- right-dnd-draggable ends -->
          </div><!-- right-dnd ends -->
        </div><!-- dnd-classification-component -->
        <div id="dnd-full-row-content" class="row">
          <div class="col-xs-12">
            <p class="text-right">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
        <!-- dnd-classification-component-wrapper ends -->

        <!-- component wrapper -->
      </div>
    </div>
  </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/libs/jquery-2.1.4.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/libs/bootstrap.min.js"></script>


    <!-- component specific scripts here -->
    <script src="assets/libs/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="assets/js/common.js"></script><!--for scroll-bar -->
    <script src="assets/js/dnd-classification-component.js"></script><!--for drag and droppable -->
    <script src="assets/js/jquery-ui.min.js"></script><!--for dragable dropable -->
    <!-- component specific scripts here -->
  </body>
</html>