<!doctype html>
<html lang="en" data-ng-app="eLearning" data-ng-controller="rootCtrl">
<head>
    <meta charset="utf-8">    
    <title>E-Learning App</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/jstree-theme/style.min.css" />
    <link rel="stylesheet" href="assets/css/mediaelement-theme/mediaelementplayer.css">
    <link rel="stylesheet" href="assets/css/icomoon.css">
    <link rel="stylesheet" href="assets/css/common.css">
    <script src="assets/libs/angular.min.js"></script>
    <script src="assets/js/app.js"></script>
</head>
<body>      
    <div id="inner-wrapper" class="container">
        <header id="header" class="row">
            <div id="menu-wrapper" class="col-xs-1">
                <span class="icon-menu-main" aria-hidden="true"></span>   
            </div>
            <div id="title-wrapper" class="col-xs-8">            	
                <!-- <h1>{{page.title}}</h1> -->
                <h1>{{(page.title)? page.title : configs.course_title;}}</h1>
                <h2>{{(page.subtitle)? page.subtitle : configs.course_subtitle;}}</h2>
            </div>
            <div id="logo-wrapper" class="col-xs-3">
                <span>EXIT</span>
                <!-- <img src="{{configs}}" alt="Course Logo"> -->
                <img data-ng-src="{{configs.path.images}}{{configs.logo}}" alt="">
            </div>
        </header>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="row">
            <article id="content"  class="col-xs-12">
                <!-- vertical-menu-wrapper -->
                <div id="vertical-menu-wrapper">
                    <h3>Menu</h3><a href="#" class="menu-close"></a>
                        
                    <div id="menu">

                    </div>
                </div>
                <!-- vertical-menu-wrapper -->
                <div ng-if="page.template" data-ng-include src="configs.path.templates+page.template"></div>
            </article>
        </div>
         <!-- Footer  -->
        <footer id="footer" class="row">
            <div id="page-progress" class="progress col-lg-12 ">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                    <span class="sr-only">60% Complete (warning)</span>
                </div>
            </div>
            <div id="footer-content" class="col-lg-12">
                <div id="left-block" class="pull-left" >
                    <div id="transcript-block" class="icon-block inline">
                       <a href="#">
                            <i class="icon-transcript inline"></i>
                            <label class="hidden-xs hidden-sm inline">TRANSCRIPT</label>
                       </a> 
                    </div>
                    <div id="audio-block" class="icon-block inline">
                        <a href="#">
                            <i class="icon-audio_on inline"></i>
                            <label class="hidden-xs hidden-sm inline">AUDIO ON</label>
                        </a>
                    </div>
                    <div id="audio-wrapper" class="progress media inline hidden-xs hidden-sm">
                        <audio id="audio-player" src="" type="audio/mp3" controls="controls"/>
                    </div>
                    <div id="play-block" class="icon-block inline"> 
                        <a href="#">
                            <i class=" icon-play inline"></i>
                            <label class="hidden-xs hidden-sm inline">PLAY</label> 
                        </a>
                    </div>
                    <div id="replay-block" class="icon-block inline">
                        <a href="#">
                            <i class="icon-replay inline"></i>
                            <label class="hidden-xs hidden-sm inline">REPLAY</label>
                        </a>  
                    </div>
                </div>
                <div id="right-block"  >
                    <a href="#" id="click-me"class= "hidden-xs hidden-sm inline text-right">Click Next to continue.</a>
                    <span class="v-divider"></span>
                    <div id="pagination" class=" pull-right">
                        <!-- {{page}} -->
                        <span id="page-left-wrapper" ng-click="pagePrevious(page.page_id)" class="icon-left-arrow"></span>
                        <span id="page-counter">01/20</span>
                        <span id="page-right-wrapper" ng-click="pageNext(page.page_id)" class="icon-right-arrow"></span>
                    </div>
                </div>
            </div>
        </footer>            
        <!-- Footer  End -->        
    </div>
    <div id="background-wrapper">
        <img data-ng-src="{{configs.path.images}}{{configs.background_image}}" alt="">
    </div>
    <!-- Wrapper -->
    <script src="assets/libs/jquery-2.1.4.min.js"></script>
    <script src="assets/libs/bootstrap.min.js"></script>
    <script src="assets/libs/jstree.min.js"></script>
    <script src="assets/libs/mediaelement-and-player.min.js"></script>
    <script src="assets/libs/jquery.mCustomScrollbar.concat.min.js"></script>    
    <script src="assets/js/common.js"></script>
</body>
</html>