<div class="row">
	<div class="col-xs-12 col-md-6 no-margin-left">
		<image-component datasource="image1" classes="no-padding"></image-component>
	</div>
	<div class="col-xs-12 col-md-6">
		<div class="row">
			<div class="col-xs-12 col-md-12 no-margin-left">
				<text-component datasource="text1" classes="blue-wrapper"></text-component>
			</div>
			<div  class="col-xs-12 col-md-12 no-margin-left">
				<text-component datasource="text2" classes="white-wrapper"></text-component>
			</div>
		</div>
		
		
	</div>
</div>