[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
/*********************** Style Sheet *****************************/
@font-face {
    font-family: 'openSans';
    src: url('../fonts/opensans-regular/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*------------------------------- Common -----------------------------------------*/

html, body { height: 100%; }
html,body,header,footer,section,aside,div,span,label,input,article,p,a,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
	font-family: 'openSans';
	outline: none !important;	
}
a,a:hover{ text-decoration: none !important; color: #000; cursor: pointer; outline: none !important;}
.no-margin{margin: 0;}
.no-marign-right{ margin-right: 0; }
.no-margin-left{ margin-left: 0; }
.margin-bottom{ margin-bottom: 30px; }
.no-padding{padding: 0;}
.no-border{border: 0;}
.no-shadow{box-shadow: none;}
.inline{display: inline-block;}
img{ max-width: 100%; height: auto; }
header{ background: #e3e2e2; }
h1, h2, h3,h4, h5, h6,p{ color: #3b3b3b; margin-bottom: 20px;}
h1{	font-size: 19px; text-transform: uppercase; }
h2{	font-size: 17px; }
h3{ font-size: 16px; }
p{ font-size: 14px;}

.el-enabled, .el-enabled label{ opacity: 1; cursor: pointer !important; }
.el-disabled, .el-disabled label{ opacity: .5; cursor: default !important; }

.blue-wrapper{ background: #336699; color: #fff; padding:30px; margin-bottom: 30px; opacity: .9; }
.white-wrapper{ background: #FFF; color: #fff; padding:30px; margin-bottom: 30px; opacity: .9; }
.blue-wrapper h1, .blue-wrapper p{ color: #fff; }
/*.close{color: #fff;font-size: 18px;margin-top: 0;float: right;display: block;cursor: pointer;opacity: 1;font-weight: normal;text-shadow:none;line-height: 1.5;}
.close:after{content: '\e606';font-family: 'icomoon';}*/
/*================================== COMPONENTS ==============================================*/
.tab-component{display: block;}
.collapse-component{display: none;}
/*------------------ Text Component ----------*/

.text-component{font-size: 14px ;font-weight: normal}

/*------------------ Image Component --------------*/

.image-component img{max-width: 100%;height: auto;}

/*----------------- Collapse Component ----------------------*/

.collapse-component .collapse-wrapper{border-bottom: 1px solid #fff; color: #fff !important; }
.collapse-component .panel-heading { background:#A5C061 !important; color: #fff !important;padding: 0;}
.collapse-component .panel-heading:hover ,
.collapse-component .panel-heading a:hover, 
.collapse-component .active, 
.collapse-component .active-panel  { background:#E3801B !important; color: #fff !important;}
.collapse-component .panel-group{ margin-bottom: 0 !important;color: #fff !important;}
.collapse-component .panel{background: #3E89B0; color: #fff !important;}
.collapse-component .panel, .collapse-component .panel-heading{ border-bottom: 0; color: #fff !important;}
.collapse-component .panel-group .panel,.collapse-component  .panel-group .panel-heading{ border-radius: 0; color: #fff !important}
.collapse-component .collapse{background:#3E89B0 !important; color: #fff !important;}
.collapse-component .panel-title a{ display:block; max-width: 100%; padding: 10px 15px; text-decoration: none; outline: none !important; color: #fff !important;}
.collapse-component .panel-title{ width: 100%;max-width: 100%; color: #fff  !important;}
.collapse-component .panel-title a::after{ content: '\f05b'; font-family:'icomoon'; display:block;color: #fff !important; font-size: 16px; outline: none !important; position: absolute; display: block;margin-top: -16px; right: 45px;}
.collapse-component .collapse .panel-body,
.collapse-component .collapse .panel-body p{ color: #fff  !important;}

/*----------------------- Tab Component --------------------------*/

.tab-component .nav li{ background:#A5C061 !important; color: #fff;margin: 0 15px;}
.tab-component .nav li:first-child{ margin-left: 0;}
.tab-component .nav li:last-child{	margin-right: 0;}
.tab-component .nav li.active { background-color:#E3801B !important;  color: #fff;}
.tab-component .nav li.active:focus { background-color:#E3801B !important; color: #fff;}
.tab-component .tab-content{background: #3E89B0; color: #fff; padding: 20px;}
.tab-component .nav-pills > li.active > a,
.tab-component .nav-pills > li.active > a:focus,
.tab-component .nav-pills > li.active > a:hover,
.tab-component .nav-pills > li > a:hover{background-color:#E3801B !important; color: #fff; border-radius:0; outline: none !important;}
.tab-component .nav-pills > li > a,
.tab-component .nav-pills > li > a:focus{background:#A5C061 !important; color: #fff;outline: none !important;}
.tab-component .nav-pills > li.active:after,
.tab-component .nav-pills > li:hover::after {content: "\f05b"; font-family:'icomoon';font-size: 18px; position: absolute; display: block; margin-left: -9px;bottom:-16px; left:50%; z-index: 1000;	}
.tab-component .tab-content {border-top: 1px solid #fff;}
.tab-component .tab-pane p{color: #fff;}

/*--------------------------- Audio -----------------------------*/

#audio-container{width: 200px; }
.mejs-container{height: 0 !important;}
.me-cannotplay, .audio-off, .icon-pause, .pause{ display: none; }
.mejs-container,.mejs-container .mejs-controls,.mejs-container .mejs-controls div{background: none;}
.mejs-container .mejs-controls .mejs-playpause-button,
.mejs-container .mejs-controls .mejs-volume-button,
.mejs-container .mejs-controls .mejs-horizontal-volume-slider,
.mejs-container .mejs-controls .mejs-time-float-corner{display: none;}
.mejs-container .mejs-controls, .mejs-container .mejs-controls .mejs-time-rail, .mejs-time-rail .mejs-time-total .mejs-time-float{ cursor: default; }
.mejs-container .mejs-controls .mejs-time-rail span.mejs-time-total{ width: 100% !important; height: 4px; margin: 0; background: #787878; border: 0; box-shadow: none; margin-top: 22px; border-radius: 8px; }
.mejs-container .mejs-controls .mejs-time-rail span.mejs-time-loaded{ height: 4px; background: #787878; margin-top: -1px;}
.mejs-container .mejs-controls .mejs-time-rail span.mejs-time-current{ height: 4px; background: #E3801B; margin-top: -1px;}
.mejs-container .mejs-controls .mejs-time-rail .mejs-time-float{ display: block !important;background: none;box-shadow: none;}
.mejs-container .mejs-controls .mejs-time-rail .mejs-time-float-current{ display: none;}
.mejs-controls .mejs-time-rail .mejs-time-float-corner{ border: 0;}
.mejs-controls .mejs-time-rail .mejs-time-float-corner:after{ content: '\e603'; font-size: 16px; font-family: 'icomoon'; position: absolute; color: #595959; top: 18px; left: 0; }

/*------------------- Click and Reveal Popup ------------*/

.modal-backdrop { background-color: #fff; opacity:0.8; }
.modal .modal-content{ border-radius: 0; box-shadow: none; border: 0;}
.modal .modal-header{ background: #336699;	color: #fff; padding: 7px;}
.modal .modal-header .close{color: #fff;font-size: 34px; margin-top: 0; float: right; display: block; cursor: pointer; opacity: 1; font-weight: lighter; text-shadow:none; line-height: 0.7;}
.modal .modal-title { color: #fff;font-weight: bold; font-size: 16px; }
.modal .modal-body{ background: #F1F0F0;color: #000; font-weight: normal; font-size: 14px;}

/*------------------- Overlays ---------------------------*/
#content-overlay,
#safari-start-overlay,
#preloader-overlay{ width: 100%; position: absolute; display: none; top: 0; left: 0; z-index: 100; background: rgba(0, 0, 0, .5);}
#safari-start-overlay{ z-index: 10000; }
#preloader-overlay{ z-index: 100001; display: block; background: rba(255, 255, 255, .8); color: #fff; text-align: center;}
#safari-start-overlay #start-course{ background: url('../images/play_btn.png'); width: 161px; height: 161px; cursor: pointer; margin: auto; }
/*================================== COMPONENTS ==============================================*/

/*--------------------------------- Header -------------------------------------  */
header{ padding: 6px 0; border-left: 6px #e3801b solid; z-index: 101; position: relative;}
header #menu-wrapper{  margin-left: -7px; min-height: 44px; margin-top: -6px; /* margin-bottom: -6px; */ text-align: center;  }
header #menu-wrapper span{ cursor: pointer; text-align: center; font-size: 22px; display: block; color: #00457B;margin-top: 10px;}
header h1, header h2{ display: inline-block; padding: 6px 0; margin: 0; }
header h1{ border-right: #cecdcd 1px solid; padding-right: 17px; margin-right: 26px; }
header #logo-wrapper{ text-align: right; }
header #logo-wrapper span{ padding: 6px 0; display: inline-block; margin-right: 16px; padding-right: 18px; border-right: #cecdcd 1px solid; }
/*--------------------------------- Header -------------------------------------  */

/*--------------------------- fullwidth background -----------------------------*/

#background-wrapper{width: 100%;height: 100%;top: 0;left: 0;position: absolute;z-index: -1;overflow: hidden;}
#background-wrapper img{width: 100%;height: auto;}

/*---------------------------- fullwidth background ---------------------------*/
/*-----------------------------Menu Content Wrapper ----------------------------*/
 #menu-content-wrapper{position: relative;}
/*---------------------------- Menu Wrapper Stripe -------------------------------*/

#menu-wrapper-stripe{ background: #F2F2F2; padding: 15px 30px; display: none;  position: absolute; width: 100%; z-index: 2000; }
#menu-wrapper-stripe ul{margin: 0; padding: 0;} 
#menu-wrapper-stripe li{margin: 0; padding: 0; display: inline-block; list-style-type: none;}
#menu-wrapper-stripe a{  color: #01A1B9; padding: 7px 9px; outline: none!important; text-decoration: none; font-size: 16px; font-weight: normal; display: inline-block; margin-right: 80px; text-align: center; padding: 2px; }
#menu-wrapper-stripe a:hover, #menu-wrapper-stripe a:focus{background: #DCE9EF;}
#menu-wrapper-stripe a i{ font-size: 20px;padding-right: 7px; vertical-align: middle; cursor: pointer;}
#menu-wrapper-stripe a label{font-weight: normal; vertical-align: middle; cursor: pointer;}

/*---------------------------- Vertical Menu Wrapper -------------------------------*/

#inner-wrapper{position: relative;}
#menu-wrapper span{display: block;}
#vertical-menu-wrapper{position: absolute;background: #4E4E4E; top:58px !important; opacity: 0.9; color: #E1E1E1; display: none; height: auto; padding: 30px; width: 315px; z-index: 1000;}
#vertical-menu-wrapper h3{color: #fff;font-size: 22px;margin-top: 0;display: inline-block;}
#vertical-menu-wrapper .menu-close{color: #fff;font-size: 18px;margin-top: 0;float: right;display: block;cursor: pointer;opacity: 1;font-weight: normal;text-shadow:none;}
#vertical-menu-wrapper .menu-close:after{content: '\e60b';font-family: 'icomoon';}
#menu{position: relative;background: #4E4E4E;color: #E1E1E1;}
#menu ul{margin: 0;padding: 0;height: auto;background: #4E4E4E;color: #E1E1E1;}
#menu ul li{margin: 0;display: block;background: #4E4E4E;color: #E1E1E1;}	
#menu ul li i.jstree-icon,#menu ul li i.jstree-ocl,#menu ul li i.jstree-icon:empty{display: none;}
#menu ul li a{outline: 0;display: inline-block;padding: 4px 0px;font-size: 16px;font-weight: normal;width: 100%;border-bottom: 1px solid #838383;box-shadow: none;} 
#menu ul li:last-child{margin-bottom: 10px;}
#menu ul li a:hover{background: #336699;color: #fff;outline: 0;border-radius: 0;border-bottom: 1px solid #4E4E4E;}
#menu ul li.jstree-open, 
#menu ul li.jstree-open:focus{background: #E3801B;color: #E1E1E1;outline: 0; margin: 0; padding: 0;}
#menu ul li.jstree-open a.jstree-clicked{background: #336699;color: #E1E1E1;outline: 0;width: 100%;outline: 0;border-radius: 0;border-bottom: 1px solid #4E4E4E; cursor: default;}
#menu ul li.jstree-open ul li.jstree-last{margin-bottom: 0;}
#menu ul li.jstree-closed a, 
#menu ul li.jstree-closed a:focus{background: #336699;color: #E1E1E1;outline: 0;padding: 4px 0px; margin: 0; border-radius: 0;border-bottom: 1px solid #4E4E4E;}
#menu ul li.jstree-closed > a:after{content: "\e60c";color: #E1E1E1;font-size: 16px;position: absolute;right: 10px;font-family: 'icomoon'; }
#menu ul li.jstree-open > a:after{content: "\e60e";color: #E1E1E1;font-size: 16px;position: absolute;right: 10px;font-family: 'icomoon';}
#menu ul li.jstree-node, #menu ul li a.jstree-anchor{height: auto;min-height: auto;}
#menu ul li a:hover{background: #336699;color:#E1E1E1;outline: 0; }
#menu ul li a.jstree-clicked:hover{background: #336699;color:#E1E1E1;outline: 0;}
#menu ul li a.jstree-clicked{background: #4E4E4E;color:#E1E1E1;}

/* --- Sub Menu ---- */

#menu ul li ul{margin: 0;padding: 0;height: auto;background: #4E4E4E;color: #E1E1E1;}
#menu ul li ul li{margin: 0;padding: 0;background: #4E4E4E;color: #E1E1E1;}
#menu ul li ul li > a{font-size: 14px;font-weight: normal;padding: 4px 20px;}
#menu ul li ul li > a:hover{border-bottom: 1px solid #4E4E4E;}
#menu ul li ul li.jstree-closed > a{background:#336699;color: #E1E1E1;border-bottom: 1px solid #4E4E4E;border-radius: 0;}
#menu ul li ul li.jstree-open > a{background:#E3801B; color: #E1E1E1;border-bottom: 1px solid #4E4E4E;border-radius: 0;}

/*-------------------------------content-wrapper-------------------------------*/

#content-wrapper{max-width: 1110px;margin: 0 auto !important;/* min-height: 500px; padding-top: 95px;padding-bottom: 30px; */}
#content{padding-right: 0; padding-left: 0;}
.pace{position: absolute;border: 0;}
/*---- Scroll Bar ----*/
.mCSB_outside + .mCSB_scrollTools { right: 0;}
.mCSB_scrollTools .mCSB_draggerContainer {right: -15px;}
/*---------------------------------Footer----------------------------------*/
/*------- Footer --------*/
footer{background: #F2F2F2;min-height: 45px;max-width: 1110px;margin: 0 auto !important;bottom: 0; position: relative;}
#page-progress{width: 100%;padding: 0;}
#footer-content{padding: 0 12px;width: 100%;}
#footer-content #left-block a,#footer-content #right-block a{cursor: pointer;display: inline-block;text-decoration: none;} 

/*-- Left block --*/
#footer-content #left-block{padding-top:11px;float: left;width: 67%;}
#footer-content #left-block i,#footer-content #left-block label{font-size: 14px;color: #4E4E4E;}
#footer-content #left-block .icon-block ,#audio-progress{margin-right: 12px;cursor: pointer;}
#footer-content #left-block #transcript-block, 
#footer-content #left-block #transcript-block a,
#footer-content #left-block #transcript-block label{cursor:default;}

#footer-content #left-block label{font-weight: normal;font-size: 14px;margin-top: -2px;max-width: 100%;}

/*-- Right Block --*/

#right-block{float: right;width: 33%;}

#footer-content #right-block #click-me{color: #E3801B;font-style: italic;/*padding-top: 11px;margin-left: 42px;*/position: absolute; right: 186px;top:11px;}
#footer-content #right-block .v-divider{background: #D7D6D6;min-height: 44px;width: 1px;display: block;position: absolute;top: 0;right: 170px;}
#pagination{height: 44px;line-height: 2;}
#pagination #page-left-wrapper,
#pagination #page-right-wrapper{cursor: pointer;}
#pagination #page-left-wrapper,
#pagination #page-counter,
#pagination #page-right-wrapper{vertical-align: middle;font-size: 34px;display: inline-block;}
#pagination #page-left-wrapper{padding-right: 8px;}
#pagination #page-right-wrapper{padding-left: 8px;margin-right:-8px; }
#pagination #page-counter{font-size: 18px;display: inline-block;background: #e3801b;color: #fff;/* line-height: 2.4; */padding: 4px 10px;}


/*-- Main Page Progress --*/

.progress{background: #9C9C9C;width: 200px;height: 3px;}
#page-progress{margin-bottom: 0;}
#page-progress .progress-bar{background: #1B9ED4;}

/*-- Audio Progress --*/

#audio-wrapper{margin: 4px;}

/*-- Audio Progress --*/

/*---------------------------------- Media Query ---------------------------------*/
@media screen and (max-width: 1199px) { 

/*---------------- Footer -----------------*/
	#footer-content #right-block .v-divider{right: 162px;}
/*---------------- Footer -----------------*/
}
@media screen and (max-width: 991px) {


/*---------------- Header --------------  */
	header h1, header h2{ display: block;border: 0;}
	header #title-wrapper{border-right: #cecdcd 1px solid;}
	header #logo-wrapper{margin-top: 20px;}
	header #logo-wrapper span{display: none;}
	header #menu-wrapper{margin-top: 10px;}
/*---------------- Header --------------  */

/*---------- menu-wrapper-strip ----------*/
	#menu-wrapper-stripe a i {padding-right: 0; font-size: 25px;}
/*---------- menu-wrapper-strip ----------*/

/*----------------- Menu -----------------*/
	#menu ul li a{font-size: 18px;}
/*----------------- Menu -----------------*/

/*---------------- Footer -----------------*/
    #footer-content #left-block{position: absolute; left: 5px; top: 0; width: 30%; padding-top: 5px;}
    #footer-content #right-block{position: absolute; right: 5px; top: 0; width: 60%;}
	#footer-content #left-block .icon-block {margin-right: 12px;}
	#footer-content #left-block i{font-size: 20px;}
	#footer-content #left-block i::after{content: "|"; display: inline-block;color: #D7D6D6;top: 0;font-size: 25px;margin-left: 10px;}
	#footer-content #right-block .v-divider{right: 170px;}
/*-----------------Footer ---------------*/
	
 }
 @media screen and (max-width: 767px) { 

/*---------------- Header --------------  */
	header #title-wrapper,header h1, header h2{margin-right: 0;padding-right: 0;}
/*---------------- Header --------------  */



/*-------------- Component --------------*/
	.tab-component{display: none;}
	.collapse-component{display: block;}
/*-------------- Component --------------*/

/*--------------- Footer ----------------*/
    #footer-content #left-block{position: absolute; left: 5px; top: 0; width: 40%;}
    #footer-content #right-block{position: absolute; right: 5px; top: 0; width: 60%;}
    #pagination #page-right-wrapper{ margin-right: 0; }
/*--------------- Footer ----------------*/
}
@media screen and (max-width: 575px) {
/*--------------- Footer ----------------*/
	#footer-content #left-block .icon-block {margin-right: 5px;}
	#footer-content #left-block i{font-size: 18px;}
    #footer-content #right-block #click-me{display: none;}
/*--------------- Footer ----------------*/
}
@media screen and (max-width: 525px){

/*---------- menu-wrapper-strip ----------*/
	#menu-wrapper-stripe a i {padding: 0;}
	#menu-wrapper-stripe a {margin-right: 60px;}
/*---------- menu-wrapper-strip ----------*/

}

 @media screen and (max-width: 430px) {

/*---------------- Header --------------  */
 	header h1{font-size: 16px;}
 	header h2{ font-size: 14px;}
	header #menu-wrapper span{font-size: 21px;}
	header #menu-wrapper{margin-top: 8px;}
	header #logo-wrapper{margin-top: 18px;}
/*----------------- Header ----------------*/

/*---------- menu-wrapper-strip ----------*/
	#menu-wrapper-stripe a i {padding: 0;}
	#menu-wrapper-stripe a {margin-right: 35px;}
/*---------- menu-wrapper-strip ----------*/

 }
 @media screen and (max-width: 382px) {
    #footer-content #left-block, #footer-content #right-block{ width: 50%;}
	#footer-content #left-block .icon-block {margin-right: 2px;}
	#footer-content #left-block i::after{margin-left: 5px;}
 }
 @media screen and (max-width: 353px) {

/*---------- menu-wrapper-strip ----------*/
	#menu-wrapper-stripe a {margin-right: 30px;}
/*---------- menu-wrapper-strip ----------*/

/*---------------- Footer ---------------*/
	#footer-content #left-block i{font-size: 17px}
	#footer-content #right-block .v-divider{right:147px}
	#pagination #page-left-wrapper,#pagination #page-right-wrapper{padding: 0;}
/*---------------- Footer ---------------*/
 }
 