/***************** Horizontzal Tab Style Sheet ****************************/
/*-------- Common -------------*/
  
   a:focus{
   		text-decoration: none;
   		cursor: pointer;
   }

/*---------- Content Wrapper -----------*/
.tab-activity-template #tab-wrapper p{
	margin: 20px 0;

}
.tab-activity-template #content #tab-wrapper em{
	color: #E3801B;
}
/*---------Horrizontal  Tab Wrapper */
.tab-activity-template #horrizontal-tab-wrapper .nav li{
	background:#A5C061 !important; 
	color: #fff;
	margin: 0 15px;
	text-align: center;
}
.tab-activity-template #horrizontal-tab-wrapper .nav li:first-child{
	margin-left: 0;
}
.tab-activity-template #horrizontal-tab-wrapper .nav li:last-child{
	margin-right: 0;
}
.tab-activity-template #horrizontal-tab-wrapper .nav li.active {
	background-color:#E3801B !important; 
	color: #fff;
}
.tab-activity-template #horrizontal-tab-wrapper .nav li.active:focus {
	background-color:#E3801B !important; 
	color: #fff;
}
.tab-activity-template #horrizontal-tab-wrapper .tab-content{
	background: #3E89B0;
	color: #fff;
	padding: 20px;
	border-top: 1px solid #fff;


}
.tab-activity-template #horrizontal-tab-wrapper .nav-pills > li.active > a,
.tab-activity-template #horrizontal-tab-wrapper .nav-pills > li.active > a:focus,
.tab-activity-template #horrizontal-tab-wrapper .nav-pills > li.active > a:hover,
.tab-activity-template #horrizontal-tab-wrapper .nav-pills > li > a:hover{
	background-color:#E3801B !important; 
	color: #fff;
}
.tab-activity-template #horrizontal-tab-wrapper .nav-pills > li > a,
.tab-activity-template #horrizontal-tab-wrapper .nav-pills > li > a:focus
{
	background:#A5C061 !important; 
	color: #fff;
}
.tab-activity-template #horrizontal-tab-wrapper .nav-pills > li.active:after,
.tab-activity-template #horrizontal-tab-wrapper .nav-pills > li:hover::after {
	
	content: "";
	width: 0;
	height:0;
	position: absolute;
	bottom: -6px;
	left: 65px;
	display: block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #fff;
}
/*---------Horrizontal Collapse Wrapper--------*/
.tab-activity-template #horrizontal-collapse-wrapper .panel{
	margin: 0;
	border-radius: 0;
}
.tab-activity-template #horrizontal-collapse-wrapper .panel-heading {
	background:#A5C061 !important; 
	color: #fff;
	border-radius: 0;
	position: relative;
}
.tab-activity-template #horrizontal-collapse-wrapper .panel-heading:hover ,
.tab-activity-template #horrizontal-collapse-wrapper .panel-heading a:hover, 
.tab-activity-template #horrizontal-collapse-wrapper .active, 
.tab-activity-template #horrizontal-collapse-wrapper .active-panel  {
	background:#E3801B !important; 
	color: #fff !important;

}
.tab-activity-template #horrizontal-collapse-wrapper .collapse{
	background:#3E89B0 !important; 
	color: #fff;

}
.tab-activity-template #horrizontal-collapse-wrapper .panel-heading a{
	display:block;
	width: 100%;
}
.tab-activity-template #horrizontal-collapse-wrapper .panel-heading .panel-title{
	width: 100%;
	max-width: 100%;
}
.tab-activity-template #horrizontal-collapse-wrapper .panel-heading .caret {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #fff;
	text-align: right;
}
.tab-activity-template #horrizontal-collapse-wrapper .panel-heading .panel-title::after{
    content: "";
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
    display: block;
    height: 0;
    position: absolute;
    right: 18px;
    top: 18px;
    width: 0;
    z-index: 1000;

}