/*********************** Style Sheet *****************************/

/*------------------------Common------------------------------*/
img
{
	max-width: 100%;
	height: auto;
}

/*-------- text-with-left-image-template.css -------------*/

/*------- Content Wrapper --------*/
#content-wrapper{
	height: 741px;
	padding-left: 30px;
	padding-right: 30px;
}
#text-with-image-wrapper
{
	margin:74px 0 105px 0;
	max-height: 480px;
}
.text-with-left-image-template #right-content
{
	padding:40px 40px 25px;
	background-color: #336699;
	color: #fff;
	
}
#right-content h1
{
	margin-bottom: 15px;
	font-family: 'Open Sans', sans-serif;
}
#right-content p 
{
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
}

