/***************** Vertical Tab Style Sheet ****************************/
/*-------- Common -------------*/
  
   a:focus{
        text-decoration: none;
        cursor: pointer;
   }

/*---------- Content Wrapper -----------*/
.tab-activity-template #tab-wrapper p{
    margin: 20px 0;
}
.tab-activity-template #content #tab-wrapper em{
    color: #E3801B;
}
/*---------Horrizontal  Tab Wrapper */
.tab-activity-template #vertical-tab-wrapper ul.nav-stacked{
    padding-right: 0;
    display: block;
}
.tab-activity-template #vertical-tab-wrapper .nav li{
    background:#A5C061 !important; 
    color: #fff;
    margin: 15px 0;
    text-align: center;
    
}
.tab-activity-template #vertical-tab-wrapper .nav li:first-child{
    margin-top: 0;
}
.tab-activity-template #vertical-tab-wrapper .nav li:last-child{
    margin-bottom: 0;
}
.tab-activity-template #vertical-tab-wrapper .nav li.active {
    background-color:#E3801B !important; 
    color: #fff;
}
.tab-activity-template #vertical-tab-wrapper .nav li.active:focus {
    background-color:#E3801B !important; 
    color: #fff;
}
.tab-activity-template #vertical-tab-wrapper .tab-content{
    background: #3E89B0;
    color: #fff;
    padding: 20px;
    min-height: 260px;
    border-left: 1px solid #fff;
}
.tab-activity-template #vertical-tab-wrapper .nav-pills > li.active > a,
.tab-activity-template #vertical-tab-wrapper .nav-pills > li.active > a:focus,
.tab-activity-template #vertical-tab-wrapper .nav-pills > li.active > a:hover,
.tab-activity-template #vertical-tab-wrapper .nav-pills > li > a:hover{
    background-color:#E3801B !important; 
    color: #fff;
}
.tab-activity-template #vertical-tab-wrapper .nav-pills > li > a,
.tab-activity-template #vertical-tab-wrapper .nav-pills > li > a:focus
{
    background:#A5C061 !important; 
    color: #fff;
}
.tab-activity-template #vertical-tab-wrapper .nav-pills > li.active:after,
.tab-activity-template #vertical-tab-wrapper .nav-pills > li:hover::after {
    content: "";
    border-bottom: 6px solid transparent;
    border-left: 6px solid #fff;
    border-top: 5px solid transparent;
    display: block;
    height: 0;
    position: absolute;
    right: -6px;
    top: 15px;
    width: 0; 
    z-index: 1000; 
    
}
/*---------Horrizontal Collapse Wrapper--------*/
.tab-activity-template #horrizontal-collapse-wrapper .panel{
    margin: 0;
    border-radius: 0;
}
.tab-activity-template #horrizontal-collapse-wrapper .panel-heading {
    background:#A5C061 !important; 
    color: #fff;
    border-radius: 0;
    position: relative;
}
.tab-activity-template #horrizontal-collapse-wrapper .panel-heading:hover ,
.tab-activity-template #horrizontal-collapse-wrapper .panel-heading a:hover, 
.tab-activity-template #horrizontal-collapse-wrapper .active, 
.tab-activity-template #horrizontal-collapse-wrapper .active-panel  {
    background:#E3801B !important; 
    color: #fff !important;

}
.tab-activity-template #horrizontal-collapse-wrapper .collapse{
    background:#3E89B0 !important; 
    color: #fff;

}
.tab-activity-template #horrizontal-collapse-wrapper .panel-heading a{
    display:block;
    width: 100%;
}
.tab-activity-template #horrizontal-collapse-wrapper .panel-heading .panel-title{
    width: 100%;
    max-width: 100%;
}
.tab-activity-template #horrizontal-collapse-wrapper .panel-heading .panel-title::after{
    content: "";
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
    display: block;
    height: 0;
    position: absolute;
    right: 18px;
    top: 18px;
    width: 0;
    z-index: 1000;

}
